@using Microsoft.AspNet.Identity
@model BookClub.Models.Profile.ProfileModel


<div class="container body-content">
    <div class="row sectionHeader">
        <div class="discussionTitle">
            User Profile
        </div>
    </div>

        <div class="col-md-8">
            <span id="userName">@Model.Username</span>
            @if (Model.IsAdmin)
            {
                <span class="isAdmin">Admin</span>
            }
            @if (Model.IsMember)
            {
                <span class="isMember">Member</span>
            }
            <span id="userEmail">Email: @Model.Email</span>
            
        </div>
        </div>
    </div>
