@model IEnumerable<BookClub.Data.Models.Book>

@{
    ViewBag.Title = "GetBooksbyAuthor";
}

<h3 class="partViewTitle">Books from this Author</h3>
@foreach (var item in Model)
{
    <img src="@item.Image" id="bookAuthorCell" onclick="location.href='@Url.Action("GetBookId", "Book", new { id = item.Id })';return false;" />
    
    @*<img src="@Html.DisplayFor(modelItem => item.Image)" class="bookAuthorCell" />*@
}

