
@{
    ViewBag.Title = "GetAllUsers";
}

<div id="userPage">

    

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="userTable">
        <thead>
            <tr>
                <th>Username</th>


            </tr>
        </thead>
        <tbody>
            <h2>List of Users</h2>

            @Html.ActionLink("Add User", "Register", "Account", new { returnUrl = Request.Url.PathAndQuery }, null)

            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @Html.ActionLink("Details", "UserDetails", new { id = user.Id }) |

                        @Html.ActionLink("Edit", "EditUser", new { id = user.Id })
                    </td>

                </tr>





            }

        </tbody>
    </table>
</div>


