@using Microsoft.AspNet.Identity
@model BookClub.ViewModels.AdminUsers.AllUsersViewModel


<h3>View BookClub Members</h3>

<div id="userPage">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable" id="userTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Manage</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.AppUsers)
            {
            <tr>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @Html.ActionLink(user.UserName, "Detail", new { id = HttpContext.Current.User.Identity.GetUserId(), Controller = "Profile" })
                </td>
                <td>
                    @Html.ActionLink("Manage", "ManageUserRoles", "UserAdmin")
                </td>
                @*@foreach (var role in Model.Rolesforthisuser)
              {
               <td>
                    @role
               </td>
                 }*@
            </tr>
            }
                
        </tbody>
    </table>
</div>