.detailImage {
    width: 200px;
    padding: 6px;
}

.imageCell {
    width: 120px;
    padding: 10px;
}
.bookAuthorCell {
    width: 90px;
    padding: 10px;
    border:solid;
    height: 120px; 
}

#bookBlurb {
    font-size: 0.8em;
}

#bookLabel {
    word-spacing: 2px;
}
#bookCatalogue {
    background: bottom right 15% no-repeat #555;
}
.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.card-icon {
    color: #777;
    font-size: 40px;
    padding: 24px;
    -webkit-border-radius: 1100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    vertical-align : middle;
    width: 60px;
    height: 60px;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
.icon-wrapper {
    display: table-cell;
}
.completedChallenge{
    text-decoration: line-through; 
}