/*Home Index View*/
@font-face{
    font-family:'Libre Baskerville';
    src: url('../images/fonts/LibreBaskerville-Bold.ttf');
}
.body{
    background-image: url(../images/home/stoneb.jpg)
}

.homeTitle{
    color: #f2f2f2; 
    background: #ff4a4a;
    font-size: 20px;
    line-height: 19px;
    font-weight: 300;
    float: left;
    padding-right: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-family:'Libre Baskerville', serif;
    margin-top: 0px;
}
.homeHeader{
   margin-left: 0px;

}

#marginCard{
    margin-top: 60px;
}

.demo-card-square.mdl-card {
    width: 300px;
    height: 300px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
}
.homeLabel {
    background-color: rgba(0,0,0,0.3);
    padding: 4px;
}
#bookShelf {
    background-image: url('../images/home/bookShelf.jpg');
    background-size:cover;
}
#community {
    background-image: url('../images/home/community.jpg');
    background-size: cover;
}
#members {
    background-image: url('../images/home/members.jpg');
    background-size: cover;
    height: 147px;
}
#challenges {
    background-image: url('../images/home/challenges.png');
    background-size: cover;
    height: 147px;
}

/*GetBookId View*/
#bookBlurb {
    font-size:12px;
    line-height: 25px;
    margin-top:35px;
}
.navbar{
    box-shadow: 0 5px 4px -6px #000;
}
h4 {
    font-size: 0.8em;
}
.detailImage {
    width: 200px;
    padding: 6px;
}
.imageCell {
    width: 140px;
    height: 200px;
    padding: 10px;
}
#bookAuthorCell {
    width: 90px;
    padding: 10px;
    border:solid;
    height: 120px; 
}
.bookLabel {
    word-spacing: 2px;
    padding-top: 5px;
}
.bookValue {
    padding-top:5px;
}
#bookCatalogue {
    background: bottom right 15% no-repeat #555;
}

#recentPosts{
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin: 4px 0 16px 0;
}
.text-muted {
    font-size:20px;
    margin-bottom: 10px;
    margin-top:10px;
}
.detailHeading {
    margin-top:5px;
    margin-bottom:5px;
    padding-bottom:2px;
}

/*GetAllBooks View*/
#addBookRow {
    margin-left: 0px;
}


/*GetPost View*/

.postHeader {
    background-color: #E6E5E8;
    padding: 5px 0px 5px 5px;
}
.postTitle {
    font-family: Candara;
    font-weight: lighter;
    color: black;
    font-size: 17px;
}
.postData{
    display: inline-block;
}

.postDate {
    color: #888;
    font-family: 'Comic Sans MS';
    font-size: 0.8em;   
}
.postAuthorContainer{
    padding: 12px;
    color: #444;
    font-family: 'Comic Sans MS';
    width: 190px;
      
}
.postContentContainer{
    font-family: 'Comic Sans MS';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}
#postContent{
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 9px;

}
#backLink {
    font-size: 12px;
    font-family:monospace;
    margin-top:5px;
}
.replyContentContainer {
    font-family: 'Comic Sans MS';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}
.replyAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Comic Sans MS';
    width: 190px;
}
#replyContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.3);
    margin-left:30px;
    border-bottom:dotted;
}
#deleteReplyRow {
    margin-left: 0px;
   
}

/*Get PostsByDiscussion View*/
.sectionHeader {
    background-color: #E6E5E8;
    padding: 8px 0px 24px 24px;
}
.promptLogin {
    position:absolute;
    right:80px;
}
.discussionTitle {
    font-family: Microsoft Sans Serif;
    font-weight: lighter;
    color: black;
    font-size: 1.6em;
}
.discussionContainer{
    font-family: 'Comic Sans MS';
    color: #222;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.btn-discussionSearch{
    background: none!important;
    border: none;
    padding: 0 !important;
    font: inherit;
}

.searchBar{
    padding: 3px, 5px, 2px, 12px;
    margin: 8px;
    background-color: white;
    width: 10%;
    transition: ease .3s;
    border: none;
}

.searchBar:focus{
    color: black;
    width: 60%;
    background-color: #fff;
    }
#addButton {
    margin-bottom: 4px;
}
.trashPost {
    position:absolute;
    right:60px;
    
}

/*GetAllDiscussions View*/

.allDiscussionsHeader {
    background-color: #E6E5E8;
    padding: 8px 5px 24px 24px;
}
.allDiscussionTitle {
    font-family: Microsoft Sans Serif;
    font-weight: bold;
    color: black;
    font-size: 1.2em;
}
.discussionContent {
    margin-top: 5px;
}
.glyphicon-edit {
    cursor:pointer;
}
.glyphicon-trash {
    cursor: pointer;
}
.glyphicon-book {
    cursor: pointer;
}


/*Add Reply View*/


/*GetReviewByBook View*/

#starRating {
    color: yellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 30px;
}
.reviewHeading {
    padding: 5px 0px 5px 5px;
}
.reviewHeader {
    background-color: #E6E5E8;
    padding: 5px 0px 5px 5px;
    margin-bottom:10px;
}
.reviewTitle {
    font-family: Candara;
    font-weight: lighter;
    color: black;
    font-size: 25px;
    padding: 5px 0px 5px 5px;
}
#reviewSubmit {
    margin-top:10px;
}
.reviewCommentTitle {
    font-size: 20px;
    font-family: NSimSun;
    margin-top:8px;
    margin-bottom:2px;
}

/*_ReviewContentPartial View*/
.reviewContent {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
    font: bold;
}
.reviewComment {
    font-family: 'Comic Sans MS';
    font-size: 15px;
    margin-bottom: 20px;
    padding-left: 3px;
}
.reviewCreated{
    padding-left: 3px;
}
.reviewAuthorName {
    color: black;
    font: bold;
    font-family: 'Comic Sans MS';
    font-style: italic;
    font-size: 12px;
    padding-left: 3px;
}
#partialReviewStar {
    color: yellow;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding-left:5px;
}
#deleteReview {
    padding-left: 3px;
}
/*GetBookbyAuthor View*/
.partViewTitle {
    font-family: 'Cambria Math'
}

/*GetAuthor View*/
.authorImage {
    width: 300px;
    height: 280px;
    padding: 10px;
}
#authorBio {
    font-size:14px;
    line-height:30px;  
}
.jumbotron {
    border:solid 2px;
}
.partialBooks {
    cursor: pointer;
}

/*_ChallengeTable View*/ 
.progress {
    background-color:white;
    color:green;
}

/*User Profile View (Detail)*/
#userEmail, #userCreated {
    display: block;
    color: #444;
    font-family: 'Roboto';
    padding-top: 3px;
}

#userName {
    display: block;
    color: #2569d5;
    font-family: 'Roboto';
    font-size: 1.7em;
}

.profileSectionHeading {
    background-color: #E6E5E8;
    padding: 8px 0px 24px 24px;
}

.userProfile {
    padding: 32px 0 64px 24px;
    background-color: #C9FEFE;
    border: ridge;
}

/*AddPost View*/
b.discussionName {
    color:royalblue;
}

/*_ChallengeTable View*/

.completedChallenge {
    text-decoration: line-through;
    background: #FFC6C1;
    color: black;
}

#challengeTable {
    margin: 0;
    padding: 0;
}

.challengeList {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: white;
    font-size: 18px;
    transition: 0.2s;
}

.challengeListContent {
    padding: 12px 8px 12px 40px;
    font-size: 14px;
    cursor: pointer;
    font-family: Apple Chancery, cursive;
}

.challengeHeader {
    background-color: #E6E5E8;
    padding: 8px 0px 24px 24px;
    margin-bottom: 5px;
}

.challengeHeading {
    font-family: 'Comic Sans MS';
    font-weight: lighter;
    font:bold;
    color: black;
    font-size: 1.6em;
    
}

/*GetChallenges View*/
#challengeDescription {
    margin-left: 0px;
}
#Description {
    padding-left:0px;
}
/*GetAllApplicationUsers View*/
#userTable {
    font-size: 1.3em;
}

#userTable td {
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

#userTable tr:hover {
    background-color: #eee;
}
.customTable td {
    text-align: left;
    font-size: 1.2em;
}
.customTable th {
    text-align: left;
    color: black;
    font-size: 1.3em;
}

/*GetRecentPosts View*/
.recentHeading {
    background-color: #E6E5E8;
    padding: 8px 0px 10px 5px;
}
.recentTitle {
    font-family: 'Comic Sans MS';
    font-weight: lighter;
    font: bold;
    color: black;
    font-size: 1.6em;
    margin-bottom: 10px;
}
.recentSubtitle {
    font-family: 'Segoe Print';
    font-size: 16px;
}
#recentTitle2 {
    font-family: Candara;
    font-weight: lighter;
    font-size: 1.6em;
    margin-bottom: 0px;
    margin-top: 0px;
}
.communityContent {
    margin-left: 0px;
    margin-right: 0px;
}

#Search {
    color:black;
}

/*NavBar*/

.navbar-nav {
    color:white;
}

.navbar-fixed-top {
    background-color: darkblue;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
    
}

