@model IEnumerable<BookClub.Data.Models.Discussion>

@{
    ViewBag.Title = "GetAllDiscussions";
}

<h2>Discussion Boards</h2>


<table class="table table-hover" id="discussionTable">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "GetPostsByDiscussion",

                    new { id = item.Id , Controller = "Discussion" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    
                    @Html.ActionLink("View Book", "GetBookId", 

                 new { id = item.Id , Controller = "Book" })
                </td>
            </tr>
        }
    </tbody>
</table>
